.about-author-image {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  max-width: 96px;
  height: auto;
  padding: 2px;
  opacity: 1;
}

.about-author-name {
  font-size: 24px;
  text-align: center;
}

.about-author-quote {
  font-size: 14px;
  text-align: center;
  color: gray;
}