header{
  div {
    div {
      display: inline-block;
      a, a:visited, a:hover, a:active {
        text-decoration: underline overline;
        text-decoration-color: #f8f8f8;
        vertical-align: middle;
        font-size: 24px;
        font-weight: bold;
      }
      a:hover, a:active {
        color: #f8f8f8;
        text-decoration-color: #383838;
        background: unset;
      }
    }
    nav {
      a {
        display: inline-block;
        width: auto;
        font-size: 14px;
        transition: all 0.7s ease;
        padding: 8px 10px;
        border-radius: 4px;
      }
      a:hover, a:active {
        background: #c8c8c8;
        color: #080808;
        padding: 8px 15px;
      }
      transition: all 0.5s ease;
      display: inline-block;
      margin-left: 50px;
    }
  }
  background-color: #282828;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  left: 0;
  text-align: center;
}
