header{
  div {
    display: inline-block;
  }
  nav {
    ul { 
      list-style-type: none; 
    }
    li {
      float: left;
    }
    display: inline-block;
  }
  background-color: #282828;
  width: calc(100% - 32px);
  padding: 16px;
  left: 0;
  bottom: 0;
}

a.nav-item {
  padding: 8px;
}