nav ul { 
  list-style-type: none; 
}

header{
  div {
    display: inline-block;
  }
  background-color: #282828;
}

nav {
  display: inline-block;
}

li {
  float: left;
}

a.nav-item {
  padding: 8px;
}