%margin-left {
  transition: 0.5s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  background-color: #b8b8b8;
  div {
    margin: 10px;
  }
}

.site-author-name {
  font-size: 20px;
  text-decoration: underline overline;
}

.site-author-image {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 96px;
  height: auto;
  opacity: 1;
}

.sidebar a {
  display: block;
  transition: 0.3s;
}

main {
  @extend %margin-left;
}

footer {
  @extend %margin-left;
}

header {
  @extend %margin-left;
}

a.author-link {
  display: inline;
}

.links-of-blogroll {
  margin-top: 20px;
}

button.sidebar-toggle {
  position: fixed;
  left: 30px;
  bottom: 45px;
  width: 28px;
  height: 28px;
  font-size: 16px;
  z-index: 1050;
  cursor: pointer;
  border: 0;
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  border-radius: 6px;
  &:hover {
    background-color: #333;
  }
  &:focus {
    outline: none;
  }
}