{% extends "index.html" %}

{% block content %}
  <div class="taxonomies">
    <h1 class="taxonomies-title">
      <i class="fa-solid fa-tags"></i>
      All Tags
    </h1>
    <div class="taxonomies-title">
      There are {{ terms | length }} tag(s) in total
    </div>
    <div class="taxonomies-items">
      {% for tag in terms %}
        <a href="{{ tag.permalink }}">{{ tag.name }}</a><span class="count">({{ tag.pages | length }})</span>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
