{% extends "index.html" %}

{% block content %}
  <div class="taxonomies">
    <h1 class="taxonomies-title">All Categories</h1>
    <div class="taxonomies-title">
      There are {{ terms | length }} category(s) in total
    </div>
    <div class="taxonomies-items">
      <ul>
        {% for category in terms %}
        <li>
          <a href="{{ category.permalink }}">{{ category.name }}</a><span class="count">({{ category.pages | length }})</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
