<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="css/lib/font-awesome.min.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
      <script type="text/javascript" charset="utf-8" src="{{ get_url(path="js/sidebar.js", trailing_slash=false) }}"></script>

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="">
      
      {% block header %}
        <header name="header">
          <div class="logo"><a href="{{ config.base_url }}">{{ config.extra.site_name }}</a></div>
          <nav class="menu">
            {% for item in config.extra.menu_items %}
              <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}" class="nav-item">
                {{ item.name }}
              </a>
            {% endfor %}
          </nav>
        </header>
      {% endblock %}

      <main class="content container" name="main">
        {% block content %}
          <div class="posts">
            {% for page in section.pages | reverse %}
              <section class="post">
                <h1 class="post-title">
                  <a href="{{ page.permalink }}">
                    {{ page.title }}
                  </a>
                </h1>
                <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                {% if page.summary %}
                  <div class="content post-summary">
                    {{ page.summary | markdown | safe }}
                  </div>
                {% endif %}
                <a href="{{ page.permalink }}#continue-reading">Read More</a>
              </section>
            {% endfor %}
          </div>
        {% endblock content %}

        {% block sidebar %}
          <button class="sidebar-toggle" onclick="openSidebar()">O</button>
          <aside class="sidebar" name="sidebar">
            <div class="site-author" itemprop="author" itemtype="https://schema.org/Person">
              {% if config.extra.avatar %}
              <img class="site-author-image" itemprop="image"
                src="{{ get_url(path=config.extra.avatar) }}"
                alt="{{ config.extra.author }}" />
              {% endif %}
              <p class="site-author-name">{{ config.extra.author }}</p>
              <p class="site-author-quote">{{ config.extra.quote }}</p>
            </div>
            <div class="feed-link">
              {% if config.generate_feed %}
                <a rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
                  RSS
                </a>
              {% endif %}
            </div>
            <div class="links-of-author">
              {% for link in config.extra.author_links %}
                <a href="{{ link.url }}" title="{{ link.name }}" class="author-link">
                  <i class="{{ link.favion }}"></i>
                </a>
              {% endfor %}
            </div>
            <div class="links-of-blogroll">
              {% for link in config.extra.links %}
                <a href="{{ link.url }}">{{ link.name }}</a>
              {% endfor %}
            </div>
          </aside>
        {% endblock sidebar %}

      </main>

      {% block footer %}
        <footer name="footer">
          <div class="copyright">
            <span item="copyrightYear">© {{ config.extra.copyright_year }}</span>
            <span class="author">{{ config.extra.author }}</span>
          </div>
          <div class="powered-by">
            Powered by <a href="https://www.getzola.org/">Zola</a> Theme <a href="https://github.com/CSUwangj/DogFood">DogFood</a>
          </div>
        </footer>
      {% endblock %}
    </body>

</html>