<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="">

      <header id="header">
        <div class="logo"><a href="{{ config.base_url }}">{{ config.extra.site_name }}</a></div>
        <nav class="menu">
          <ul>
            {% for item in config.extra.menu_items %}
              <li>
                <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                  {{ item.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <main class="content container">
        {% block content %}
          <div class="posts">
            {% for page in section.pages | reverse %}
              <div class="post">
                <h1 class="post-title">
                  <a href="{{ page.permalink }}">
                    {{ page.title }}
                  </a>
                </h1>
                <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
              </div>
            {% endfor %}
          </div>
        {% endblock content %}
      </main>

      <footer>
        <div class="copyright">
          <span item="copyrightYear">© 2018 - 2020</span>
          <span class="author">{{ config.extra.author }}</span>
        </div>
        <div class="powered-by">
          Powered by <a href="https://github.com/CSUwangj/DogFood">DogFood</a>
        </div>
      </footer>
    </body>

</html>