
{% macro katex_load() %}
{% if config.extra.katex_enabled %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css" crossorigin="anonymous">
<script type="module">
import renderMathInElement from "https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/auto-render.mjs";
const katex_config = {
  delimiters: [
    { left: "$$", right: "$$", display: true },
    { left: "$", right: "$", display: false },
  ],
  macros: {
    // Functions
    arccot: '\\operatorname{arccot}',
    arcsec: '\\operatorname{arcsec}',
    arccsc: '\\operatorname{arccsc}',
  }
}
renderMathInElement(document.body, katex_config);
</script>
{% endif %}
{% endmacro  %}