{% extends "index.html" %}

{% block content %}
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      {% if page.date %}
      <div class="post-meta-item">
        <span class="post-meta-item-icon"><i class="fa-solid fa-calendar"></i></span>
        <span class="post-date">Posted on: </span>
        <time datetime={{page.date}} title="post created at {{page.date}}">{{ page.date | date(format="%Y-%m-%d") }}</time>
      </div>
      {% endif %}
      {% if page.updated %}
      <div class="post-meta-item">
        <span class="post-meta-item-icon"><i class="fa-solid fa-calendar-check"></i></span>
        <span class="modify-date">Posted modified: </span>
        <time datetime={{page.updated}} title="post modified at {{page.updated}}">{{ page.updated | date(format="%Y-%m-%d") }}</time>
      </div>
      {% endif %}
      {% if page.taxonomies.categories %}
      <div class="post-meta-item">
          <span class="post-meta-item-icon"><i class="fa-solid fa-book"></i></span>
          <span class="in-category">In: </span>
        {% for category in page.taxonomies.categories %}
        <a class="category" href="{{ config.base_url }}/categories/{{ category }}">
          {{ category }}
        </a>
      {% endfor %}
      </div>
      {% endif %}
      <span class="post-meta-divider">|</span>
    </div>
    <div class="post-body">
      {{ page.content | safe }}
    </div>
    {% if page.taxonomies.tags %}
    <div class="post-tags">
      {% for tag in page.taxonomies.tags %}
      <a class="tag" href="{{ config.base_url }}/tags/{{ tag }}">
        <i class="fa-solid fa-tag"></i>
        {{ tag }}
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <nav class="pagination">
    {% if page.lower %}
    <a class="left unselectable" href="{{ page.lower.permalink }}">
      <i class="fa-solid fa-caret-left"></i>
      {{ page.lower.title }}
    </a>
    {% else %}
    <div class="empty"></div>
    {% endif %}
    {% if page.higher %}
    <a class="right unselectable" href="{{ page.higher.permalink }}">
      {{ page.higher.title }}
      <i class="fa-solid fa-caret-right"></i>
    </a>
    {% else %}
    <div class="empty"></div>
    {% endif %}
  </nav>
{% endblock content %}