{% extends "index.html" %}


{% block content %}

  <h1 class="taxonomies-title">
    <i class="fa-solid fa-inbox"></i>
    Archives
  </h1>
  {% for archive in terms %}
    {% for year, posts in archive.pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>

    <ul>
      {% for post in posts %}
        <li>
          <time datetime="{{ post.date }}">{{ post.date | date(format="%Y-%m-%d") }}</time>
          <a href="{{ post.permalink }}"> {{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endfor %}
  {% endfor %}
{% endblock content %}
